/* Custom Properties */
:root {
  /* colors */
  --clr-teal: 192 37% 48%;
  --clr-purple: 268 34% 53%;
  --clr-dark: 240 21% 20%; /* slate-900 */
  --clr-gray: 240 10% 57%;
  --clr-light-blue: 192 90% 77%;
  --clr-violet: 268 100% 86%;
  --clr-white: 0 0% 98%;

  --slate-900: hsl(240, 21%, 20%);

  /* font sizes */
  --fs-700: 4rem;
  --fs-600: 2.5rem;
  --fs-500: 1.5rem;
  --fs-400: 1rem;
  /* fonts */
  --ff-primary: 'Red Hat Display', sans-serif;
  /* font weights */
  --fw-400: 400;
  --fw-500: 500;
  --fw-700: 700;
  --fw-900: 900;
  /* Spacing */
  --spacing-50: 0.25rem;
  --spacing-100: 0.5rem;
  --spacing-200: 1rem;
  --spacing-300: 1.5rem;
  --spacing-400: 2rem;
  --spacing-500: 2.5rem;
  --spacing-600: 3rem; /* 48px */
  --spacing-700: 3.5rem; /* 56px; */
  --spacing-800: 4rem; /* 64px; */
  --spacing-900: 4.5rem; /* 72px; */
  --spacing-1000: 5rem; /* 80px; */
  --spacing-1400: 7rem; /* 112px */
}
/* RESET */
/* Josh Comeau custom css reset */
/* https://www.joshwcomeau.com/css/custom-css-reset/ */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

/* Base styles and utility classes */
body {
  min-height: 100svh;
  display: grid;
  grid-template-rows: 1fr auto auto;
  font-family: var(--ff-primary);
  font-size: var(--fs-400);
  color: hsl( var(--clr-dark));
  background-color: hsl( var(--clr-white));
}

/* Colors       */
.text-white { color: hsl( var(--clr-white)); }
.text-dark { color: hsl( var(--clr-dark)); }
.text-accent { color: hsl( var(--clr-gray)); }
.primary-teal { color: hsl( var(--clr-teal)); }
.secondary-purple { color: hsl( var(--clr-purple)); }
.secondary-blue { color: hsl( var(--clr-light-blue)); }

.flex {
  display: flex;
  gap: 1rem;
}

.flex-center {
  justify-content: center;
}

.grid {
  display: grid;
  gap: 1rem;
}

.margin-top {
  margin-top: 0.5em;
}

.d-block {
  display: block;
}

.padding-sml {
  padding: 1rem 0;
}

.text-align-center {
  text-align: center;
}

h1, h2, h3 {
  line-height: 1.1;
}

.accent-text {
  color: hsl( var(--clr-teal));
  text-transform: uppercase;
  font-size: var(--fs-300);
  font-weight: 900;
  line-height: 1.6;
  letter-spacing: 4px;
}


/* Components       */
.btn {
  display: inline-block;
  padding: 1em 2em;
  font-size: 1rem;
  line-height: 1.2;
  white-space: nowrap;
  text-decoration: none;
  font-weight: 900;
  letter-spacing: 1px;
  border: 0;
  border-radius: 1.75rem;
  cursor: pointer;
  color:hsl( var(--clr-white));
  transition: 220ms all ease-in-out;
}

.btn-primary {
  background-color: hsl( var(--clr-teal));
}

.btn-primary span {
  color: hsl( var(--clr-light-blue));
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: hsl( var(--clr-teal) / .7);
}

.btn-secondary {
  background-color: hsl( var(--clr-purple));
}

.btn-secondary span {
  color: hsl( var(--clr-violet));
}

.btn-secondary:hover,
.btn-secondary:focus {
  background-color: hsl( var(--clr-purple) / .7);
}

/* Header and Hero sections */
.logo {
  margin: 0 auto;
  padding: 2em 0 2.5em 0;
}

.hero {
  padding-block: var(--spacing-400);
  display: grid;
  justify-content: center;
  gap: var(--spacing-600);
}

.hero-image__mobile {
  min-height: 160px;
  object-fit: cover;
}

.hero__content {
  padding-inline: var(--spacing-300);
  text-align: center;
  display: grid;
  justify-items: center;
  gap: var(--spacing-300);
}

.hero__content h1 {
  max-width: 10ch;
  font-size: var(--fs-600);
  font-size: clamp(var(--fs-600), 2.153846rem + 1.5384615vw, var(--fs-700));
  line-height: 1.1;
  font-weight: 900;
}

.hero__content p {
  max-width: 29ch;
  font-weight: 500;
}

.hero-image__desktop-right {
  display: none;
}

.hero-buttons {
  flex-direction: column;
  align-items: center;
}

@media (min-width: 38em) {
  .hero-buttons {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 80rem) {
  .hero {
    flex-direction: row;
  }
  .hero-content {
    padding: 4em 0 0 0;
  }
  /* handle hero image transitions */
  .hero-image-mobile {
    display: none;
  }
  .hero-image__desktop-right {
    display: block;
  }
  .hero-image-1 {
    margin-left: -1.5em;
  }
  .hero-image-2 {
    margin-right: -1.5em;
  }
  .hero-content {
    max-width: 35em;
  }
  .hero-content h1 {
    font-size: var(--fs-700);
  }
  .hero-content p {
    font-size: var(--fs-400);
  }
}

/* Section Divider components */
.section-divider__container {
  flex-direction: column;
  align-items: center;
  gap: 0;
  position: relative;
}

.section-divider__container:nth-last-of-type(1) {
  z-index: 5;
  /* margin-bottom: -28px; */
}

.section-divider__line {
  height: 84px;
  border-left: 1px solid hsl(var(--clr-gray) / .9);
  transform: translateX(50%);
}

.section-divider__circle {
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: hsl( var(--clr-white));
  border: 1px solid hsl(var(--clr-gray) / .9);
}

.section-divider__num {
  font-weight: 900;
  color: hsl(var(--clr-gray) / .9);
}

/* Main content */
.main {
  padding-inline: var(--spacing-400);
  padding-block-start: var(--spacing-400);
}

/* Image Gallery */
.image-grid {
  margin-block: var(--spacing-800);
  max-width: 70rem;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  gap: var(--spacing-200);
}

.gallery-img {
  max-width: 100%;
  object-fit: cover;
  border-radius: var(--spacing-100);
}

@media (min-width: 38em) {
  .image-grid {
    padding-bottom: 2.5em;
  }
}

.main__text-content {
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.main__text-content p {
  margin-bottom: var(--spacing-200);
}

.main__text-content h2 {
  margin-bottom: var(--spacing-400);
}

.main__text-content h2,
.footer__content h2 {
  font-size: 2rem;
  font-size: clamp(2rem, 1.8846153846153846rem + 0.5128205128205128vw, 2.5rem);
  font-weight: 900;
}

@media (min-width: 70rem) {
  .image-grid {
    padding-bottom: 5em; 
  }
  .main__text-content {
    gap: 2rem;
  }
  .main__text-content p {
    max-width: 42ch;
  }
}

/* Footer */
.footer {
  grid-row-start: 3;
  grid-row-end: 4;
}

.footer {
  background-image: linear-gradient(hsla(192, 37%, 48%, .85), hsla(192, 37%, 48%, .85)), url(./assets/mobile/image-footer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: hsl( var(--clr-white));
  padding: 5em 0;
  justify-content: center;
}

.footer__content {
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 2em;
}

.footer__content .btn {
  margin-top: .75em;
}


@media (min-width: 38em) {
  .footer {
    background-image: linear-gradient(hsla(192, 37%, 48%, .85), hsla(192, 37%, 48%, .85)), url(./assets/tablet/image-footer.jpg);
  }
  .footer__content h2 {
    max-width: 16ch;
  }
  .footer__content p {
    max-width: 46ch;
  }
  .footer .btn {
    margin-top: 1.5em;
  }
}

@media (min-width: 70em) {
  .footer {
    background-image: linear-gradient(hsla(192, 37%, 48%, .85), hsla(192, 37%, 48%, .85)), url(./assets/desktop/image-footer.jpg);
    min-height: 308px;
  }
  .footer__content {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  .footer__content > * {
    flex-basis: 28%;
  }
  .footer__content h2,
  .footer__content p {
    text-align: left;
  }
}