/* Custom Properties */
:root {
  --white: hsl(0, 0%, 98%);
  --slate-300: hsl(240, 18%, 85%);
  --slate-600: hsl(240, 10%, 57%);
  --slate-900: hsl(240, 21%, 20%);
  --purple-300: hsl(268, 100%, 86%);
  --purple-400: hsl(268, 55%, 71%);
  --purple-600: hsl(268, 34%, 53%);
  --cyan-300: hsl(192, 90%, 77%);
  --cyan-400: hsl(192, 54%, 64%);
  --cyan-600: hsl(192, 37%, 48%);
  /* font sizes */
  --fs-700: 4rem;
  --fs-600: 2.5rem;
  --fs-500: 1.5rem;
  --fs-400: 1rem;
  /* fonts */
  --ff-primary: 'Red Hat Display', sans-serif;
  /* font weights */
  --fw-400: 400;
  --fw-500: 500;
  --fw-700: 700;
  --fw-900: 900;
  /* Spacing */
  --spacing-50: 0.25rem;
  --spacing-100: 0.5rem;
  --spacing-200: 1rem;
  --spacing-300: 1.5rem;
  --spacing-400: 2rem;
  --spacing-500: 2.5rem;
  --spacing-600: 3rem; /* 48px */
  --spacing-700: 3.5rem; /* 56px; */
  --spacing-800: 4rem; /* 64px; */
  --spacing-900: 4.5rem; /* 72px; */
  --spacing-1000: 5rem; /* 80px; */
  --spacing-1400: 7rem; /* 112px */
}
/* RESET */
/* Josh Comeau custom css reset */
/* https://www.joshwcomeau.com/css/custom-css-reset/ */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

/* Base styles and utility classes */
body {
  min-height: 100svh;
  display: grid;
  font-family: var(--ff-primary);
  font-size: var(--fs-400);
  font-weight: 500;
  background: var(--white);
  color: var(--slate-600);
}

h1, h2, h3 {
  line-height: 1.1;
}

.accent-text {
  color: var(--cyan-600);
  text-transform: uppercase;
  font-size: var(--fs-300);
  font-weight: 900;
  line-height: 1.6;
  letter-spacing: 4px;
}

/* Components       */
.btn {
  border: none;
  background-color: transparent;
  font-family: inherit;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-50);
  min-width: 10ch;
  min-height: 44px;
  text-align: center;
  cursor: pointer;
  padding: 1rem 2.5rem;
  font-size: var(--fs-400);
  font-weight: 900; 
  color: var(--white);
  transition: 220ms all ease-in-out;
  border-radius: 1.75rem;
}

@media screen and (-ms-high-contrast: active) {
  .btn {
    border: 2px solid currentcolor;
  }
}

.btn-primary {
  background: var(--cyan-600);
}

.btn-primary span {
  color: var(--cyan-300);
}

.btn-primary:hover,
.btn-primary:focus {
  background: var(--cyan-400);
}

.btn-secondary {
  background: var(--purple-600);
}

.btn-secondary span {
  color: var(--purple-300);
}

.btn-secondary:hover,
.btn-secondary:focus {
  background-color: var(--purple-400);
}

.section-divider__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
  position: relative;
}

.section-divider__container:nth-last-of-type(1) {
  z-index: 5;
  /* margin-bottom: -28px; */
}

.section-divider__line {
  height: 84px;
  border-left: 1px solid var(--slate-300);
  transform: translateX(50%);
}

.section-divider__circle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: var(--white);
  border: 1px solid var(--slate-300);
}

.section-divider__num {
  font-weight: 900;
  color: var(--slate-300);
}

/* Header */
.header {
  padding-top: var(--spacing-600);
}
.logo {
  margin: 0 auto;
}

/* Main */

.hero {
  padding-block: var(--spacing-800);
  display: grid;
  justify-content: center;
  gap: var(--spacing-600);
}

.hero-image__mobile {
  min-height: 160px;
  object-fit: cover;
}

.hero__content,
.about {
  padding-inline: var(--spacing-400); 
}

.hero__content {
  text-align: center;
  display: grid;
  justify-items: center;
  gap: var(--spacing-300);
}

.hero__content h1 {
  max-width: 10ch;
  font-size: var(--fs-600);
  font-size: clamp(var(--fs-600), 2.153846rem + 1.5384615vw, var(--fs-700));
  line-height: 1.1;
  font-weight: 900;
  color: var(--slate-900); 
}

.hero-image__desktop-right {
  display: none;
}

.hero-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-200);
}

@media (min-width: 38em) {
  .hero-buttons {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 80rem) {
  .hero {
    flex-direction: row;
  }
  .hero-content {
    padding: 4em 0 0 0;
  }
  /* handle hero image transitions */
  .hero-image-mobile {
    display: none;
  }
  .hero-image__desktop-right {
    display: block;
  }
  .hero-image-1 {
    margin-left: -1.5em;
  }
  .hero-image-2 {
    margin-right: -1.5em;
  }
  .hero-content {
    max-width: 35em;
  }

}


/* Image Gallery */
.image-grid {
  margin-block: var(--spacing-800);
  max-width: 70rem;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  gap: var(--spacing-200);
}

.gallery-img {
  max-width: 100%;
  object-fit: cover;
  border-radius: var(--spacing-100);
}

@media (min-width: 38rem) {

}

.main__text-content {
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.main__text-content .accent-text {
  margin-bottom: var(--spacing-200);
}

.main__text-content h2 {
  margin-bottom: var(--spacing-400);
  color: var(--slate-900);
}

.main__text-description {
  margin-bottom: var(--spacing-800);
}

.main__text-content h2,
.footer__content h2 {
  font-size: 2rem;
  font-size: clamp(2rem, 1.8846153846153846rem + 0.5128205128205128vw, 2.5rem);
  font-weight: 900;
}

@media (min-width: 70rem) {

}

/* Footer */
.footer {
  margin-top: auto;
}

.footer__content {
  margin-top: -1.75rem;
  padding-block: var(--spacing-800);
  padding-inline: var(--spacing-400);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-300);
  background-image: 
    linear-gradient(hsla(192, 37%, 48%, .85), hsla(192, 37%, 48%, .85)), url(./assets/tablet/image-footer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: var(--white);
}

.footer__content p {
  max-width: 28ch;
}

@media (min-width: 38rem) {
  .footer__content {
    background-image: linear-gradient(hsla(192, 37%, 48%, .85), hsla(192, 37%, 48%, .85)), url(./assets/tablet/image-footer.jpg);
  }
  .footer__content h2 {
    max-width: 16ch;
  }
  .footer__content p {
    max-width: 46ch;
  }
  .footer .btn {
    margin-top: 1.5em;
  }
}

@media (min-width: 70rem) {
  .footer {
    background-image: linear-gradient(hsla(192, 37%, 48%, .85), hsla(192, 37%, 48%, .85)), url(./assets/desktop/image-footer.jpg);
    min-height: 308px;
  }
  .footer__content {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  .footer__content > * {
    flex-basis: 28%;
  }
  .footer__content h2,
  .footer__content p {
    text-align: left;
  }
}