/* Meet Landing Page - Frontend Mentor */
/* *********************************** */

/* ----------------- */
/* Custom Properties */
/* ----------------- */
:root {
  /* colors */
  --clr-teal: 192 37% 48%;
  --clr-purple: 268 34% 53%;
  --clr-dark: 240 21% 20%;
  --clr-gray: 240 10% 57%;
  --clr-light-blue: 192 90% 77%;
  --clr-violet: 268 100% 86%;
  --clr-white: 0 0% 98%;

  /* font sizes */
  /* h1, h2, body, overline */
  --fs-700: 4rem;
  --fs-600: 2.5rem;
  --fs-500: 1.5rem;
  --fs-400: 1.125rem;
  /* Overline - all caps */
  --fs-300: 1rem;

  /* fonts */
  --ff-serif: 'Red Hat Display', sans-serif;

  /* font weights */
  --fw-400: 400;
  --fw-500: 500;
  --fw-700: 700;
  --fw-900: 900;

}


/* -------------- */
/* Reset          */
/* -------------- */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

body {
  font-family: var(--ff-serif);
  font-size: var(--fs-400);
  color: hsl( var(--clr-dark));
  background-color: hsl( var(--clr-white));
  line-height: 1.6;
  min-height: 100vh;
}

img,
picture {
  max-width: 100%;
}

img {
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* Important accessibility resets */
/* remove animations for people who've turned them off */
/* @media (prefers-reduced-motion: reduce) {  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
} */

/* ------------ */
/* Colors       */
/* ------------ */

.text-white { color: hsl( var(--clr-white)); }
.text-dark { color: hsl( var(--clr-dark)); }
.text-accent { color: hsl( var(--clr-gray)); }
/* .text-overline { color: hsl( var(--clr-teal)); } */

.primary-teal { color: hsl( var(--clr-teal)); }
.secondary-purple { color: hsl( var(--clr-purple)); }
.secondary-blue { color: hsl( var(--clr-light-blue)); }

/* ------------ */
/* Typograpghy  */
/* ------------ */

/* font sizes */
.fs-700 { font-size: var(--fs-700); }
.fs-600 { font-size: var(--fs-600); }
.fs-500 { font-size: var(--fs-500); }
.fs-400 { font-size: var(--fs-400); }
.fs-300 { font-size: var(--fs-300); }
/* font weights */
.fw-400 { font-weight: var(--fw-400);}
.fw-500 { font-weight: var(--fw-500);}
.fw-700 { font-weight: var(--fw-700);}
.fw-900 { font-weight: var(--fw-900);}

.uppercase { text-transform: uppercase; }

.overline-text {
  color: hsl( var(--clr-teal));
  text-transform: uppercase;
  font-size: var(--fs-300);
  font-weight: 900;
  line-height: 1.6;
  letter-spacing: 4px;
}



/* check these styles */
h1,
h2 {
  font-weight: 900;
  line-height: 1.1;
}


h2 {
  /* font-size: 32px; */
  font-size: 2rem;

}

/* tablet size */
@media (min-width: 32em) {
  h2 {
    font-size: 2.5rem;
  
  }
}


/* --------------------- */
/*    Layout             */
/* --------------------- */

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto auto;
}

footer {
  grid-row-start: 3;
  grid-row-end: 4;
}

/* .wrapper {

} */

header {
  padding-bottom: 3em;
}

.logo {
  padding: 2em 0 2.5em 0;
}

.hero {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.hero-content {
  flex-direction: column;
  text-align: center;
  padding: 1.75em 0;
}

.hero-content h1,
.hero-content p {
  padding-inline: 1.5em;
}

.hero-content h1 {
  font-size: var(--fs-600);
  line-height: 1.1;
}

.hero-content p {
  font-size: var(--fs-300);
  font-weight: 500;
}

.hero-image-desktop {
  display: none;
}

.hero-image-1 {
  /* overflow: hidden;
  flex-basis: 30%;
  position: relative; */
}

/* .hero-image-mobile {
  max-width: 110%;
  margin-left: -20px;
} */

.hero-buttons {
  flex-direction: column;
  align-items: center;
}

@media (min-width: 38em) {

  .hero-content {
    margin-inline: auto;
    /* padding-bottom: 1em; */
    max-width: 25em;
  }

  .hero-content h1 {
    font-size: 48px;
  }

  .hero-buttons {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

/* 1120px */
@media (min-width: 70em) {
  .hero {
    flex-direction: row;
  }
  .hero-content {
    padding: 4em 0 0 0;
  }
  /* handle hero image transitions */
  .hero-image-mobile {
    display: none;
  }

  .hero-image-desktop {
    display: block;
  }

  .hero-image-1 {
    margin-left: -1.5em;
  }

  .hero-image-2 {
    margin-right: -1.5em;
  }

  .hero-content {
    max-width: 35em;
  }

  .hero-content h1 {
    font-size: var(--fs-700);
  }
  .hero-content p {
    font-size: var(--fs-400);
  }
}



/* --------------------- */
/*    Utility classes    */
/* --------------------- */

.flex {
  display: flex;
  gap: 1rem;
}

.flex-center {
  justify-content: center;
}

.grid {
  display: grid;
  gap: 1rem;
}

.margin-top {
  margin-top: 0.5em;
}

.d-block {
  display: block;
}

.padding-sml {
  padding: 1rem 0;
}

.text-align-center {
  text-align: center;
}

/* ---------------------------- */
/* Design Sytem-specific styles */
/* ---------------------------- */
#colors,
#typography,
#buttons {
  padding: 2em 0;
}

.color-flex-grid {
  flex-wrap: wrap;
  justify-content: left;
}

.color-card {
  flex-basis: 220px;
  max-width: 240px;
}

.color-card p {
  margin-top: 0.5em;
}

.design-header {
  align-items: center;
  justify-content: space-between;
  padding: 2em 0;
}

.number-heading {
  display: flex;
  align-items: center;
  padding-bottom: 2em;
}

.number-heading h2 {
  margin-left: .75em;
}

.typography-hero {
  /* heights for design system only */
  min-height: 300px;
  max-height: 310px;
  background-image: linear-gradient(hsla(192, 37%, 48%, .85), hsla(192, 37%, 48%, .85)), url(./assets/desktop/image-footer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  padding: 2em 2em;
  color: hsl( var(--clr-white));
  align-items: center;
  padding: 0 5em;
}

.typography-hero > * {
  flex-basis: 100%;
}

.font,
.chars {
  font-weight: 700;
}

.font {
  font-size: var(--fs-700);
  line-height: 1;
}

.chars {
  letter-spacing: 4.8px;
}

.font-container {
  margin-top: 5em;
  grid-template-columns: minmax(50%, 60%) minmax(30%, 38%);
  /* border: 1px solid black; */
}

.font-container p {
  margin-top: .5em;
}

.button-container {
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.button-states {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


/* ---------------- */
/* Components       */
/* ---------------- */

.overlay {
  /* box-shadow: inset 0 0 30px 60px rgba(21, 15, 100, 0.3); */
  background: hsl (var(--clr-teal) / .3);
  overflow: hidden;
  height: 100%;
  z-index: 1000;
}

.btn {
  display: inline-block;
  /* width: max-content; */
  padding: 1em 2em;
  margin: 0.25rem;
  font-size: 1rem;
  line-height: 1.2;
  white-space: nowrap;
  text-decoration: none;
  font-weight: 900;
  letter-spacing: 1px;
  border: 0;
  border-radius: 1.75rem;
  cursor: pointer;
  color:hsl( var(--clr-white));
}

.btn-primary {
  background-color: hsl( var(--clr-teal));
}

.btn-primary span {
  color: hsl( var(--clr-light-blue));
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: hsl( var(--clr-teal) / .7);
}

.btn-secondary {
  background-color: hsl( var(--clr-purple));
}

.btn-secondary span {
  color: hsl( var(--clr-violet));
}

.btn-secondary:hover,
.btn-secondary:focus {
  background-color: hsl( var(--clr-purple) / .7);
}

/* Section Divider components */
.section-divider__container {
  flex-direction: column;
  /* justify-content: flex-start; */
  align-items: center;
  gap: 0;
  position: relative;
  /* z-index: 5; */
  /* margin-bottom: -28px; */
}

.section-divider__container:nth-last-of-type(1) {
  z-index: 5;
  margin-bottom: -28px;
}

.section-divider__line {
  /* width: 56px; */
  height: 84px;
  border-left: 1px solid hsl(var(--clr-gray) / .9);
  transform: translateX(50%);
}

.section-divider__circle {
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: hsl( var(--clr-white));
  border: 1px solid hsl(var(--clr-gray) / .9);
}

.section-divider__num {
  font-weight: 900;
  color: hsl(var(--clr-gray) / .9);
}



/* Image Gallery */
.image-grid {
  justify-content: center;
  flex-wrap: wrap;
  padding: 4em 0;
}

/* .image-grid > * {
  flex-grow: 1;
} */

.img-card {
  /* border: 1px solid black; */
  max-width: 150px;
}

.img-card img {
  /* aspect-ratio: 1 / 1; */
  object-fit: cover;
  border-radius: 10px;
}

@media (min-width: 38em) {
  .image-grid {
    padding-bottom: 2.5em;
  }
  .img-card {
    /* width: 165px; */
    max-width: 165px;
  }
}


/* Main content */
.main-content {
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 3em;
  padding-inline: 1.75em;
}

@media (min-width: 38em) {
  .main-content {
    margin-inline: auto;
    /* max-width: 573px; */
    max-width: 31em;
    padding-inline: 0;
  }

  .main-content h2 {
    padding-inline: 1.5em;
  }

}

@media (min-width: 70em) {
  .image-grid {
    padding-bottom: 5em; 
  }
  .img-card {
    max-width: 255px;
  }
  .main-content {
    gap: 2rem;
  }
  .main-content p {
    max-width: 42ch;
  }
}



/* Footer */
footer {
  background-image: linear-gradient(hsla(192, 37%, 48%, .85), hsla(192, 37%, 48%, .85)), url(./assets/mobile/image-footer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: hsl( var(--clr-white));
  padding: 5em 0;
  justify-content: center;
}

.footer-content {
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 2em;
}

.footer-content .btn {
  margin-top: .75em;
}


@media (min-width: 38em) {
  footer {
    background-image: linear-gradient(hsla(192, 37%, 48%, .85), hsla(192, 37%, 48%, .85)), url(./assets/tablet/image-footer.jpg);
  }

  .footer-content h2 {
    max-width: 16ch;
  }

  .footer-content p {
    max-width: 46ch;
  }
  /* footer p {
    max-width: 46ch;
  } */

  footer .btn {
    margin-top: 1.5em;
  }

}

@media (min-width: 70em) {
  footer {
    background-image: linear-gradient(hsla(192, 37%, 48%, .85), hsla(192, 37%, 48%, .85)), url(./assets/desktop/image-footer.jpg);
    min-height: 308px;
  }
  .footer-content {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

  }

  .footer-content > * {
    flex-basis: 28%;
  }

  .footer-content h2,
  .footer-content p {
    text-align: left;
  }
}